name: pre-commit

on:
  pull_request:
  push:
    branches: [main]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Install uv
      uses: astral-sh/setup-uv@v5
    - name: Install python # Can be faster than `uv python install` because GitHub has a cache runners with python versions
      uses: actions/setup-python@v5
      with:
        python-version-file: "pyproject.toml"
    - run: uv sync --all-extras
    - run: uv run pre-commit run --all-files
